.chart {
 width: 500px;
 height: 500px;
}

.asteroids {
 max-width: 500px;
 width: auto;
 max-height: 500px;
 height: auto;
}

.container {
    margin-bottom: 100px;
}

.popover {
    max-width: 800px;
    width: auto;
}
